@charset "UTF-8";

/*-------------CONFIG GLOBAIS-------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fonte-titulo-principal: 'Pacifico', cursive;
    --fonte-sub-titulo: 'VT323', monospace;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --cor01: rgba(248, 215, 229, 0.604);
    --cor02: #BA7393;
    --cor03: #F04D96;
    --cor04: #6E2345;
    --cor05: #704558;
}

.linkExterno::after {
    content: ' 🔗';
}

body {
    font-family: var(--fonte-padrao);
    background: var(--cor01) url(../IMAGE/papeldeparede.png);
}



h1 {
    font: lighter 2.9em var(--fonte-titulo-principal);
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.363);
    text-align: center;
    color: white;
    margin: 20px;
}

.textoDestaque {
    font-size: 4em;
}

h2 {
    font-family: var(--fonte-sub-titulo);
    font-weight: normal;
    letter-spacing: 3px;
    color: white;
    background-image: linear-gradient(to right, var(--cor04), white);
    margin-bottom: 10px;
    padding: 5px 5px 5px 15px;
    border-radius: 30px;
}

h3 {
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0px;
}

p {
    line-height: 2em;
    text-indent: 50px;
    text-align: justify;
    margin: 20px;
}

/*-------------CABECALHO-------------*/
header {
    padding: 10px 20px 10px 20px;
    min-height: 150px;
    background-image: linear-gradient(to top, var(--cor04), var(--cor03));
}

.paragrafoCenter{
    font: lighter 1.8em var(--fonte-sub-titulo);
    text-align: center;
    color: white;
}

/*-------------NAVEGAÇÃO-------------*/

nav {
    background-color: var(--cor04);
    padding: 0 20px 20px 20px;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.174);
}

.linkNav {
    font: normal bold 0.9em;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition-duration: 0.5s;
}

.linkNav:hover {
    font-weight: bolder;
    background-color: white;
    color: var(--cor04);
    padding: 5px 15px;
    border-radius: 6px;
    text-decoration: underline;
}

/*-------------CONTEUDOPRINCIPAL-------------*/

main {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 0 0 20px 20px;
}

blockquote {
    text-align: center;
    font-size: 1em;
    line-height: 1.3;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
    width: 70%;
    padding: 20px;
    border: 3px dashed var(--cor04);
    background-color: var(--cor01);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.315);
}

aside {
    background-color: var(--cor01);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
    padding: 10px;
    border-radius: 10px;
}

.h3Aside {
    color: white;
    background-color: var(--cor04);
}

article {
    margin: 20px;
}

ul {
    list-style-position: inside;
    list-style-type: '🕹️\00A0\00A0';
    columns: 2;
    padding-top: 10px;
    text-align: center;
}

.conteinerJogosShaw {
    display: flex;
}

.jogosShaw {
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    width: 48%;
}

img {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

strong {
    color: var(--cor04);
}

.video {
    position: relative;
    background-color: var(--cor05);
    box-shadow: -3px 3px 20px 3px rgba(0, 0, 0, 0.174);
    margin: 0px -50px 30px -50px;
    padding: 20px;
    padding-bottom: 58%;
}

iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

a {
    color: var(--cor04);
    text-decoration: none;
    font-weight: bolder;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.363);
}

a:hover {
    background-color: var(--cor04);
    color: white;
    text-decoration: underline;
    padding: 3px;
    border-radius: 5px;
    font-style: italic;
}

.fontePreta {
    color: var(--cor04);
}

.h3Jogo {
    color: var(--cor04);
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.363);
}

/*-------------CARROUSEL-------------*/

.conteinerCarrousel {
    position: relative;
    padding: 20px;
    max-width: 640px;
    margin: 0 auto;
    border: 3px solid var(--cor04);
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.466);
}

.carrousel {
    overflow-x: auto;
    -ms-overflow-style: none; 
  }

.carrousel::-webkit-scrollbar {
    display: none;
}

.galeria {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.setaEsquerda, .setaDireita {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 30px;
    cursor: pointer;
    border: none;
    opacity: 0.3;
    transition: all 600ms ease-in-out;
    color: #fff;
    background: linear-gradient(to left, transparent 0%, var(--cor04));
}

.setaDireita {
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, var(--cor04));
}

.setaEsquerda:hover, .setaDireita:hover {
    opacity: 1;
}

.item {
   width: 400px;
   height: 400px;
   flex-shrink: 0; 
   opacity: 0.2;
   transition: all 600ms ease-in-out;
   background-color: var(--cor04);
   padding: 1.5px;
}

.currentItem {
    opacity: 1;
}

/*-------------RODAPE-------------*/

/* footer {
    background-color: var(--cor04);
    padding: 5px;
    text-align: center;
    color: white;
}

.linkJogo {
    color: white;
}

.linkJogo:hover {
    color: var(--cor04);
    background-color: white;
}

.divulgacao {
    width: 30px;
    height: 30px;
    display: inline;
    margin: 5px;
    text-align: right;
} */


footer {
    display: flex;
    gap: 1rem;
    height: 0vh;
    justify-content: center;
    padding: 20px;
    align-items: center;
    background-color: var(--cor04);
}

footer > div {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.textofooter, .strongFooter {
    color: white;
    margin: auto;
}

.divFooter {
    height: 38px;
    width: 38px;
}

.linkFooter {
    display: block;
    margin: auto;
}
